html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Common Rules */

body,
main,
footer {
	padding: 0.5rem 2%;
}

img {
	max-width: 100%;
}


/* Form */

form {
	max-width: 750px;
	margin: auto;	
}

.report {
	text-align: center;
	margin: 50px 0 30px 0;
}


form fieldset {
	margin: 1rem 0;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: 0.5rem 2%;
	font-family: sans-serif;
}

form legend {
	color: #445ba9;
	margin: 0 1rem;
	padding: 0 0.5rem;
}


form label.top,
form div {
	display: block;
	padding: 1rem 0.5rem 0;
	color: #9c2c13;
	font-size: 0.8rem;
}

form label.top input,
form label.top select {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: 1px solid #999;
	border-radius: 4px;
	padding: 0.75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0, 0, 0, 0.1);
}


form label.top input:required {
	border-left: red solid 6px;
	border-right: red solid 6px;
}

form label.top input:required:valid {
	border-left: green solid 6px;
	border-right: green solid 6px;
}

.title-info {
	text-align: center;
}

.reservation-info {
	font-family: sans-serif;
	font-size: 0.9rem;	
	justify-content: center;
}

.reservation-form {
	margin-left: 25px;
}

.btn1 {
	margin-left: 30px;
}



section button {
	display: block;
	margin: 50px auto;
}

.btn-reservations {
	font-family: sans-serif;
	border: 2px solid black;
	line-height: 2.5;
	padding: 0 30px;
	font-size: 1.2rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 25px;
	background-color: #FC1B07;
	box-shadow: 0px 0px 5px 0px #262222;
}

.btn-reservations:hover {
	background-color: deepskyblue;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*Validated: no errors*/
